In [2]:
print(10-3)

7

In [3]:
print(8)
print(13, end=' ')
print(5)

8
13 5

#### Print I love Python
#### Print each word of the below-given sentence on a new line.
#### I love Python

In [ ]:
print("I love Python")

#### Print Squares
#### Write a program to output the squares (using multiplication) of numbers from 1 to 5 on separate lines.
#### [Note: Please print in the same format as given below. There are single spaces between hyphen(-) and digits.]
#### Output Format
#### 1 - 1
#### 2 - 4
#### 3 - 9
#### 4 - 16
#### 5 - 25

In [5]:
for number in range(1,6):
    print(f"{number}-{number*number}")

1-1
2-4
3-9
4-16
5-25

### Print Pattern
#### Write a program to output the square of * (stars) of size 4 (check the output below).
#### ****
#### ****
#### ****
#### ****

In [6]:
for i in range(1,5):
    print("****")

****
****
****
****

In [7]:
print(7.0/2)

3.5

#### Divide Two Variables
#### Declare two variables x and y, and assign 20 to x and 6 to y.
#### Divide x by y (i.e., perform integer division x // y) and print the result.

In [8]:
x = 20 
y = 6 
divide = x//y
print(divide)

3

#### Convert Temperature
#### Declare a variable "temperature" and initialize it with a value of 25.5 (in Celsius) and print it in Celsius and Kelvin (add 273 to the temperature in  Celsius).
#### [Note: Print the output in exactly the same format as given below. There is single space around hyphen(-)]
#### Output Format
#### Celsius - 25.5
#### Kelvin - 298.5

In [9]:
temperature = 25.5
print(f"""
Celsius-{temperature}
Kelvin-{273 + temperature}
""")

Celsius-25.5
Kelvin-298.5

#### Area and Perimeter of Square
#### Write a program to find the area and perimeter of square whose side length is 4.5. On the first line, print square's area and on the second line, its perimeter.
#### Note:
#### Area of a Square = side Ã— side
#### and, Perimeter = 4 x side

In [10]:
Area = 4.5
area_square = Area * Area
perimeter = 4*Area
print(f"""
Area of a square = {area_square}
Perimeter = {perimeter}
""")

Area of a square = 20.25
Perimeter = 18.0

In [14]:
n =int(input("Enter a number: ").strip())
print(n)

8